* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: #161a25;

}

.fas {
  font-size: 3rem;
  color: white;
}

header {
  position: fixed;
  z-index: 9;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #161a25;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.logo img {
  height: 4rem;
}

#hamburger-menu {
  display: none;
}

.my-links {
  height: 100vh;
  background-color: #161a25;
  position: fixed;
  right: 0px;
  top: 6rem;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1rem 5rem;
  opacity: 0;
  transition: transform 1s ease-in;
  z-index: 9;
  /* width: 50%; */
}

.nav-active{
  opacity: 100;
}

.side-nav a {
  padding: 8px 8px 10px 32px;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: center;
  list-style: none;
  /* opacity: 0; */
}

.side-nav a:hover {
  color: rgb(150, 230, 150);
}

.jumbotron {
  text-align:center;
  background-image:url(/images/eb93f90b67e0022291381d4f429e4905.jpg) ;
  background-size: cover;
  height: 40rem;
  margin-top: 2rem;
}

@keyframes heading {
  0% {top: -50px}
  100% {top: 0}
}

.jumbotron-content{
  padding-top: 15rem;
  padding-bottom: 1rem;
  position: relative;
  animation: heading 3s;
  backface-visibility: hidden;
}

#cta {
  padding: .7rem 1.5rem;
  border: none;
  border-radius: 15px;
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border-color: none;
  background-color: rgb(9, 175, 9);
  color: white;
}


button:active {
  transform: scale(.95);
}

.j-heading {
  color: white;
  padding: 0 2rem; 
  margin-bottom: 3rem;
  font-size: 1.9rem;
  line-height: 1.6;
}

.process {
  border-bottom: 1px solid white;

}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 2rem;
}

.step {
  text-align: center;
  border: 2px solid #161a25;
  padding: 2rem;
  margin: .5rem;
  border-radius: 1rem;
  color: white;
  background-color: white;
}

.step:hover {
  transform: scale(1.3);
}

.step h4 {
  color: black;
}

.step-icon {
  width: 4rem;
  height: auto;
  fill: white;
  width: 6rem;
}

.subheading {
  font-size: 2.2rem;
  text-align: center;
  margin: 3rem 2rem;
  margin-bottom: .3rem;
  color: green;
}

.para {
  font-size: 14px;
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.testimony {
  /* background-color: rgb(235, 232, 232); */
  padding: 1rem 0;
}

.stories {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-items: center;
  padding: 2rem;
}

.story {
  padding: 0rem 3rem 1rem 3rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 1rem;
  border: 1px solid white;
}

.quote {
  font-size: 5rem;
  font-family: serif;
  padding-bottom: -1rem;
  color: green;
}

.story-name {
  font-weight: bold;
  text-align: right;
  padding-top: 3rem;
  color: green;

}

#sign-up, #log-in {
  width: 80%;
  margin: 3rem auto;
}

#sign-up label, #log-in label {
  font-size: 1.6rem;
  display: block;
  /* color: black; */
}



#sign-up input, #log-in input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
}

.sign-up, {
  margin-top: 5rem;
}

.prompt {
  font-size: 2.2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: black;
}

#form-btn {
  margin-top: 2rem;
  background-color: green;
  color: white;
  font-size: 1.8rem;
  border: none;
}

.register {
  border: 1px solid white;
}

footer {
  background-color: #161a25;
  color: white;
  font-size: 1.4rem;
  padding: 2rem 5rem 1rem 5rem;
  margin-top: 5rem;
}

.footer-company {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-logo img {
  width: 5rem;
  margin-bottom: 1rem;
}

.logo h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer-contact {
  /* margin-left: 2rem; */
}

.copy-right {
  text-align: center;
  margin: 2rem auto;
}

.center {
  text-align: center;
}

p {
  color: white;
}